.row{
   justify-content: center;
}
.choiceSelect{
    text-align: center;
    
}
.select-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .list-area{
    margin: 30px;
} */