.row{
   justify-content: center;
}
.choiceSelect{
    text-align: center;
    
}
.select-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px 0;
}

.list-area{
    margin: 10px 0;
}
.mushroomSelect-area{
    display: flex;
    justify-content: space-around;
}

.result-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultBtn{
    border-radius: 100px;
    padding: 10px 10px;
    font-weight: bold;
    background-color: rgb(26, 25, 25);
    color: white;
    margin: 15px 0;
}

.mushroom-img{
    background-image: url('/public/images/mushroom.jpg');
    height: 500px;
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-align: center;
}