@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.row{
   justify-content: center;
}
.choiceSelect{
    text-align: center;
    
}
.select-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px 0;
}

.list-area{
    margin: 10px 0;
}
.mushroomSelect-area{
    display: flex;
    justify-content: space-around;
}

.result-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultBtn{
    border-radius: 100px;
    padding: 10px 10px;
    font-weight: bold;
    background-color: rgb(26, 25, 25);
    color: white;
    margin: 15px 0;
}

.mushroom-img{
    background-image: url('/public/images/mushroom.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
    text-align: center;
    
}

.mushroom-img .logo{
    font-size: 2em;
    text-align: start;
    padding: 10px 0 0 10px;
    font-family: 'Architects Daughter', cursive;
}

.mushroom-img h1{
    font-size: 4em;
    font-weight: bold;
    margin: 50px 0 20px 0;
    font-family: sans-serif;
}

.mushroom-img p{
    font-size: 2.5em;
}
.mushroom-img h5{
    font-weight: bold;
    width: 70%;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mushroom{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}